{% extends 'base.html.twig' %}

{% block body %}


<div class="main-containera">

<div class="container-fluid">


<div class="row" style="padding:10px; background:white;">

<legend>Welcome Admin</legend>





</div>
</div>
</div>

    





{% endblock %}
